* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 2vmin;
    background: #b6d7e6;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mitzi {
    height: 30em;
    width: 30em;
    position: relative;

    background: 

    /* right whiskers -- top */ 
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) right 5.55em top calc(50% + 2.2em) / .55em .55em,
    
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) right 3.92em top calc(50% + 3.8em) / .55em .55em,

    linear-gradient(45deg,
    transparent 40%,
    #3D215E 40%,
    #3D215E 60%,
    transparent 60%) right 4em top calc(50% + 3em) / 2em 2em ,

    /* right whiskers -- bottom */

    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) right 1.9em top calc(50% + 3.25em) / .7em .7em,
    
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) right 4.4em top calc(50% + .73em) / .7em .7em,

    linear-gradient(45deg,
    transparent 42%,
    #3D215E 42%,
    #3D215E 58%,
    transparent 58%) right 2em top calc(50% + 2em) / 3em 3em ,


    /* left whiskers -- top */ 
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) left 1.9em top calc(50% + 3.25em) / .7em .7em,
    
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) left 4.4em top calc(50% + .73em) / .7em .7em,

    linear-gradient(-45deg,
    transparent 42%,
    #3D215E 42%,
    #3D215E 58%,
    transparent 58%) left 2em top calc(50% + 2em) / 3em 3em ,

    /* left whiskers -- bottom */

    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) left 5.55em top calc(50% + 2.2em) / .55em .55em,
    
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) left 3.92em top calc(50% + 3.8em) / .55em .55em,

    linear-gradient(-45deg,
    transparent 40%,
    #3D215E 40%,
    #3D215E 60%,
    transparent 60%) left 4em top calc(50% + 3em) / 2em 2em ,


    /* right eye */ 
    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100% ) right 7em top calc(50% - 2em) / 3em 3em,
    
    /* Left eye */

    radial-gradient(ellipse 50% 50%,
    #3D215E 96%,
    transparent 100%) left 7em top calc(50% - 2em) / 3em 3em,

    /* nose */ 
    radial-gradient(ellipse 50% 50%,
    #3D215E 95%,
    transparent 100%) 50% 50% / 3em 3em,

    /* mouth */
    radial-gradient(ellipse 50% 50% at 50% 0,
    transparent 60%, 
    #3D215E 65%,
    #3D215E 96%,
    transparent 100%) right calc(50% - 1.2em) top calc(50% + 2em) / 3em 3em,

    radial-gradient(ellipse 50% 50% at 50% 0,
    transparent 60%,
    #3D215E 65%,
    #3D215E 96%,
    transparent 100%) left calc(50% - 1.2em) top calc(50% + 2em) / 3em 3em,

    /* orange sopt */ 
    radial-gradient(ellipse 50% 50%,
    #F7A773 99%,
    transparent 100%) right -5em top 2em / 17em 17em;

    background-repeat: no-repeat;
    background-color: #FAF3E5;
    border-radius: 100%;
    border: .6em solid #3D215E;
}

.mitzi::before,
.mitzi::after {
    content: "";
    position: absolute;
    height: 12em;
    width: 8em;
    top: -1.5em;
    z-index: -1;
    background-color: #F6C4C1;
    border-radius: 0 100000vmax 0 0;
    box-shadow:
        0 0 0 .75em #FAF3E5,
        0 0 0 1.3em #3D215E;
}

.mitzi::before {
    left: 1em;
}

.mitzi::after {
    right: 1em;
    transform: scaleX(-1);
}