* {
  margin: 0;
}

body {
  width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff99ff;
}

.container {
  width: 500px;
  height: 300px;
}

.cat {
  position: relative;
}

p {
  position: absolute;
  background: #4e4e69;
}

.head {
  width: 120px;
  height: 90px;
  top: 90px;
  right: 140px;
  border-radius: 50%;
  z-index: 1;
  rotate: 10deg;
  background: #3a3d4f;
}

.head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: -4px;
  left: 2px;
  background: #4a4e69;
}

.ear {
  width: 0;
  height: 0;
  top: 65px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  background: transparent;
  border-bottom: 25px solid #4a4e69;
  z-index: 3;
}

.ear:nth-child(1){
  top: 73px;
  right: 158px;
}

.ear:nth-child(2){
  right: 200px;
}

.eye {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 110px;
  background: #000;
  border: 5px solid #fff;
  z-index: 3;
}

.eye:nth-child(1){
  right: 195px;
}

.eye:nth-child(2){
  width: 26px;
  height: 26px;
  top: 112px;
  right: 153px;
}

.nose {
  width: 5px;
  height: 3px;
  top: 150px;
  right: 190px;
  background: #fff;
  border-radius: 50%;
  z-index: 3;
}
.body {
  width: 200px;
  height: 100px;
  top: 130px;
  left: 150px;
  border-radius: 47% 51% 18% 17% / 54% 68% 26% 45%;
  z-index: 0;
}

.tail {
  width: 100px;
  height: 15px;
  border-radius: 10px;
  top: 215px;
  left: 88px;
}
