body {
    background-color: #660066;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chrome {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 210px;
    width: 210px;
    margin: auto;
    z-index: 1;
}

.center {
    border-radius: 50%;
    background: #0d6cac;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #91c1e7), color-stop(100%, #0d6cac));
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin-top: -41px;
    margin-left: -40px;
    border-bottom: solid 1px #125e90;
    z-index: 10;
}

.circle {
    border-radius: 50%;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    height: 94px;
    width: 94px;
    margin-top: -48px;
    margin-left: -47px;
    z-index: 5;
}

.red {
    background: #e93c35;
    position: absolute;
    top: 0;
    left: 34px;
    width: 200px;
    height: 58px;
}

.red:after {
    transform: rotate(60deg);
    content: " ";
    background: #e93c35;
    position: absolute;
    top: 0;
    left: -91px;
    width: 200px;
    height: 58px;
}

.yellow {
    transform: rotate(120deg);
    background: #fdd901;
    position: absolute;
    top: 131px;
    left: 56px;
    width: 200px;
    height: 65px;
}

.yellow:after {
    transform: rotate(60deg);
    content: "";
    background: #fdd901;
    position: absolute;
    top: 0;
    left: -91px;
    width: 200px;
    height: 58px;
}

.green {
    transform: rotate(-120deg);
    background: #5bc15b;
    position: absolute;
    top: 88px;
    left: -74px;
    width: 200px;
    height: 65px;
}

.green:after {
    transform: rotate(60deg);
    content: " ";
    background: #5bc15b;
    position: absolute;
    top: 0;
    left: -91px;
    width: 200px;
    height: 58px;
}